/* begin Page */
#art-page-background-glare {
   zoom: 1;
}

/* Start Box */
.art-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='art-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.art-box-body {
   zoom:1;
}
.art-box-tl, .art-box-tr, .art-box-cl, .art-box-cr, .art-box-bl, .art-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.art-box-tl,.art-box-bl,.art-box-cl {
   left:0;
}
.art-box-tr,.art-box-br,.art-box-cr {
   right:0;
}
.art-box-cl, .art-box-cr {
   background-repeat:repeat-y;
}
.art-box-tl {
   background-position: top left;
   z-index:-3;
}
.art-box-tr {
   background-position: top right;
   z-index:-3;
}
.art-box-cl {
   background-position: center left;
   z-index:-3;
}
.art-box-cr {
   background-position: center right;
   z-index:-3;
}
.art-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.art-box-br {
   background-position: bottom right;
   z-index:-3;
}

.art-box .art-box-tl,.art-box .art-box-tr,.art-box .art-box-cl,.art-box .art-box-cr,.art-box .art-box-bl,.art-box .art-box-br{
   z-index:-2;
}
.art-box .art-box .art-box-tl,.art-box .art-box .art-box-tr,.art-box .art-box .art-box-cl,.art-box .art-box .art-box-cr,.art-box .art-box .art-box-bl,.art-box .art-box .art-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.art-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='art-bar-'+e[ i]}('r,l'.split(',')));
}
.art-bar-l, .art-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.art-bar-l {
   left:0;
   background-position: top left;
}
.art-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.art-sheet>.art-box-tl, .art-sheet>.art-box-tr{
   background-image: url('images/sheet_t.png');
}
.art-sheet>.art-box-bl, .art-sheet>.art-box-br {
   background-image: url('images/sheet_b.png');
}
.art-sheet>.art-box-tl, .art-sheet>.art-box-bl, .art-sheet>.art-box-cl{
   right:18px;
}
.art-sheet>.art-box-tr, .art-sheet>.art-box-br, .art-sheet>.art-box-cr{
   width: 18px;
}
.art-sheet>.art-box-cl, .art-sheet>.art-box-cr{
   top:18px;
   bottom:18px;
   background-image:url('images/sheet.png');
}
/* end Box, Sheet */

/* begin Menu */
.art-nav {
   position: expression(runtimeStyle.position='relative');
}
.art-nav>.art-bar-l, .art-nav>.art-bar-r{
   background-image: url('images/nav.png');
}
.art-nav>.art-bar-l{
   right: 5px;
}
.art-nav>.art-bar-r{
   width: 5px;
}
.art-hmenu ul li {
   float: left !important;
   width:100%;
}
.art-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.art-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='art-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.art-hmenu>li>a>span.art-hmenu-l, ul.art-hmenu>li>a>span.art-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.art-hmenu>li>a>span.art-hmenu-l
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.art-hmenu>li>a>span.art-hmenu-r
{
   width: 0;
   right: 0;
   background-position: top right;
}

ul.art-hmenu>li>a.active>span.art-hmenu-l {
   background-position: bottom left;
} 
ul.art-hmenu>li>a.active>span.art-hmenu-r {
   background-position: bottom right;
}
ul.art-hmenu>li>a.active {
   color: #080906;
}

ul.art-hmenu>li>a:hover>span.art-hmenu-l, ul.art-hmenu>li:hover>a>span.art-hmenu-l {
   background-position: center left;
}
ul.art-hmenu>li>a:hover>span.art-hmenu-r, ul.art-hmenu>li:hover>a>span.art-hmenu-r {
   background-position: center right;
}
ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a{
   color: #DCDDDA;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu>li:first-child {
   padding-right:1px;
}
ul.art-hmenu>li>span.art-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 42px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin Header */
.art-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='art-header-jpeg');
   z-index: 1;
}

.art-header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:100%;
   height: 260px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center left;
}
/* end Header */

/* begin Layout */
.art-content-layout, .art-content-layout-row, .art-layout-cell 
{
   display: block;
   zoom: 1;
}
.art-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader>.art-bar-l, .art-vmenublockheader>.art-bar-r{
   background-image: url('images/vmenublockheader.png');
}
.art-vmenublockheader>.art-bar-l{
   right: 0;
}
.art-vmenublockheader>.art-bar-r{
   width: 0;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent>.art-box-tl, .art-vmenublockcontent>.art-box-bl, .art-vmenublockcontent>.art-box-cl{
   right:0;
}
.art-vmenublockcontent>.art-box-tr, .art-vmenublockcontent>.art-box-br, .art-vmenublockcontent>.art-box-cr{
   width: 0;
}
.art-vmenublockcontent>.art-box-cl, .art-vmenublockcontent>.art-box-cr{
   top:0;
   bottom:0;
   background-image:url('images/vmenublockcontent.png');
}
.art-vmenublockcontent>.art-box-tl, .art-vmenublockcontent>.art-box-bl, .art-vmenublockcontent>.art-box-cl{
   right:0;
}
.art-vmenublockcontent>.art-box-tr, .art-vmenublockcontent>.art-box-br, .art-vmenublockcontent>.art-box-cr{
   width: 0;
}
.art-vmenublockcontent>.art-box-cl, .art-vmenublockcontent>.art-box-cr{
   top:0;
   bottom:0;
   background-image:url('images/vmenublockcontent.png');
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu, ul.art-vmenu ul, ul.art-vmenu li{
   zoom: 1;
}
ul.art-vmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='art-vmenu-'+e[ i]}('r,l'.split(',')));
}
ul.art-vmenu>li>a>span.art-vmenu-l, ul.art-vmenu>li>a>span.art-vmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:34px;
}

ul.art-vmenu>li>a>span.art-vmenu-l{
   left: 0;
   right: 21px;
   background-position: top left;
}
ul.art-vmenu>li>a>span.art-vmenu-r{
   width: 21px;
   right: 0;
   background-position: top right;
}
ul.art-vmenu>li>a.active>span.art-vmenu-l {
   background-position: bottom left;
}
ul.art-vmenu>li>a.active>span.art-vmenu-r {
   background-position: bottom right;
}
ul.art-vmenu>li>a:hover>span.art-vmenu-l  {
   background-position: center left;
}
ul.art-vmenu>li>a:hover>span.art-vmenu-r {
   background-position: center right;
}

ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}

/* end VMenuItem */

/* begin BlockHeader */
.art-blockheader>.art-bar-l, .art-blockheader>.art-bar-r{
   background-image: url('images/blockheader.png');
}
.art-blockheader>.art-bar-l{
   right: 0;
}
.art-blockheader>.art-bar-r{
   width: 0;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent>.art-box-tl, .art-blockcontent>.art-box-bl, .art-blockcontent>.art-box-cl{
   right:0;
}
.art-blockcontent>.art-box-tr, .art-blockcontent>.art-box-br, .art-blockcontent>.art-box-cr{
   width: 0;
}
.art-blockcontent>.art-box-cl, .art-blockcontent>.art-box-cr{
   top:0;
   bottom:0;
   background-image:url('images/blockcontent.png');
}
/* end Box, BlockContent */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.art-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostMetadata, PostMetadataFooter */
.art-postmetadatafooter{
   zoom:1;
}
/* end PostMetadata, PostMetadataFooter */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='art-footer-'+e[ i]}('r,l,t'.split(',')));
}
.art-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.art-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:5px;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.art-footer-l, .art-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:5px;
   background-image: url('images/footer_b.png');
}

.art-footer-l
{
   left:0;
   right:5px;
   background-position: top left;
}

.art-footer-r
{
   right:0;
   width:5px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.art-sidebar1 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

